h1{
	color:red;
	font-size:50px;
}
body{
	background-image:url(https://cdn.pixabay.com/photo/2021/02/05/18/32/videojuegos-5985512_960_720.jpg);
}
	
}
p {
	color:red;
	font-size:40px;
}

